body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.signup{
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%,0);
    width: 50vh;
    border-radius: 15px;
    font-family: 'Courier New', monospace;

}

.signup h1{
    border-bottom: 2px solid #020303;
}


.signup form{
    padding: 0 40px;
    box-sizing: border-box;
}

.signup .section{
    position: relative;
    border-bottom: 2px solid #b7b5b5;
    margin: 25px 0;
} 

.section input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.section label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .6s;
}

.section span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: black;
    transition: .4s;
}

.gender{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gender input{
    margin: 1em;
    height: 40px;
    font-size: 10px;
    transform: translate(0,-2px);
}

#nationality{
    padding: 1em;
    letter-spacing: .1em;
}
.section input:focus ~ label,
.section input:valid ~ label{
    top: -5px;
    color: black;
}


.section input:focus ~ span::before,
.section input:valid ~ span::before{
    width: 100%;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-color: black;
    background: white;
    border-radius: 25px;
    font-size: 18px;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

input[type="submit"]:hover{
    border-color: black;
    background: black;
    color: white;
    transition: .6s;
}
